@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: theme('fontFamily.raleway');
  }

  body {
    overflow-x: hidden;
  }
  
  :root {
    --background: oklch(1 0.37 29.23);
    --foreground: oklch(0.2 0.02 29.23);
    --card: oklch(1 0.2 29.23);
    --card-foreground: oklch(0.25 0.02 29.23);
    --popover: oklch(1 0.37 29.23);
    --popover-foreground: oklch(0.2 0.37 29.23);
    --primary: oklch(0.45 0.15 29.23);
    --primary-foreground: oklch(1 0 0);
    --secondary: oklch(0.82 0.1 29.23);
    --secondary-foreground: oklch(0 0 0);
    --muted: oklch(0.92 0.1 324);
    --muted-foreground: oklch(0.45 0.02 29.23);
    --accent: oklch(0.85 0.1 324);
    --accent-foreground: oklch(0.25 0.02 29.23);
    --destructive: oklch(0.65 0.26 29.23);
    --destructive-foreground: oklch(1 0.02 29.23);
    --border: oklch(0.8 0.1 29.23);
    --input: oklch(0.6 0.1 29.23);
    --ring: oklch(0.45 0.15 29.23);
    --radius: 0.5rem;
  }
  
  .dark {
    --background: oklch(0.2 0.2 29.23);
    --foreground: oklch(1 0.02 29.23);
    --card: oklch(0.2 0.2 29.23);
    --card-foreground: oklch(1 0.02 29.23);
    --popover: oklch(0.15 0.2 29.23);
    --popover-foreground: oklch(1 0.02 29.23);
    --primary: oklch(0.45 0.15 29.23);
    --primary-foreground: oklch(1 0 0);
    --secondary: oklch(0.3 0.1 29.23);
    --secondary-foreground: oklch(1 0 0);
    --muted: oklch(0.35 0.1 324);
    --muted-foreground: oklch(0.65 0.02 29.23);
    --accent: oklch(0.35 0.1 324);
    --accent-foreground: oklch(0.85 0.02 29.23);
    --destructive: oklch(0.65 0.26 29.23);
    --destructive-foreground: oklch(1 0.02 29.23);
    --border: oklch(0.6 0.1 29.23);
    --input: oklch(0.6 0.1 29.23);
    --ring: oklch(0.45 0.15 29.23);
    --radius: 0.5rem;
  }
  


}
