@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: theme('fontFamily.raleway');
  }

  body {
    overflow-x: hidden;
  }

  :root {
    --background: oklch(1 0 0);
    --foreground: oklch(0.14 0.0286 140.28);
    --muted: oklch(0.92 0.0241 124.03);
    --muted-foreground: oklch(0.46 0.014 124.1);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.14 0.0286 140.28);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.14 0.0286 140.28);
    --border: oklch(0.37 0.1038 141.63);
    --input: oklch(0.93 0.0067 142.09);
    --primary: oklch(0.43 0.1382 141.66);
    --primary-foreground: oklch(1 0 0);
    --secondary: oklch(0.56 0.1488 130.35);
    --secondary-foreground: oklch(1 0 0);
    --accent: oklch(0.44 0.1163 149.72);
    --accent-foreground: oklch(1 0 0);
    --destructive: oklch(0.52 0.1903 33.27);
    --destructive-foreground: oklch(0.86 0.0671 40.91);
    --ring: oklch(0.43 0.1382 141.66);
    --chart-1: oklch(0.32 0.1025 253.89);
    --chart-2: oklch(0.43 0.1404 254.98);
    --chart-3: oklch(0.52 0.1771 255.83);
    --chart-4: oklch(0.65 0.1447 251.01);
    --chart-5: oklch(0.81 0.0914 249.5);
    --radius: 0.5rem;
  }

  .dark {
    --background: oklch(0.14 0.021 140.74);
    --foreground: oklch(0.99 0.0016 142.11);
    --muted: oklch(0.27 0.0316 125.48);
    --muted-foreground: oklch(0.75 0.0124 123.88);
    --popover: oklch(0.14 0.021 140.74);
    --popover-foreground: oklch(0.99 0.0016 142.11);
    --card: oklch(0.14 0.021 140.74);
    --card-foreground: oklch(0.99 0.0016 142.11);
    --border: oklch(0.27 0.0131 140.46);
    --input: oklch(0.26 0.0127 141.95);
    --primary: oklch(0.43 0.1382 141.66);
    --primary-foreground: oklch(1 0 0);
    --secondary: oklch(0.45 0.1167 129.84);
    --secondary-foreground: oklch(1 0 0);
    --accent: oklch(0.44 0.1163 149.72);
    --accent-foreground: oklch(1 0 0);
    --destructive: oklch(0.6 0.1895 37.38);
    --destructive-foreground: oklch(1 0 0);
    --ring: oklch(0.43 0.1382 141.66);
    --chart-1: oklch(0.32 0.1025 253.89);
    --chart-2: oklch(0.43 0.1404 254.98);
    --chart-3: oklch(0.52 0.1771 255.83);
    --chart-4: oklch(0.65 0.1447 251.01);
    --chart-5: oklch(0.81 0.0914 249.5);
    --chart-5: 132 94% 22%;
  
  }
}
